body{
    background-color: hsl(212, 45%, 89%);
    justify-content: center;
}

.main-div{
    height: 499px;
    width: 320px;
    border: red solid 2px;
    background-color: white;
    margin-top: 50px;
    margin-left: 500px;
    border-radius: 20px;
}